<table class="table">

    <% if (msg == "Updated"){%>
    <div class="alert alert-success" role="alert">
        The record is succefully updated.
    </div>
    <% }else if (msg == "Deleted"){%>
    <div class="alert alert-success" role="alert">
        The record is succefully deleted.
    <%}%>

    <% var i = 1;%>
    <% apartments.forEach( function(apartment) { %>
    <tr>
        <td><%= i%></td>
        <td><%= apartment.title%></td>
        <td><%= apartment.estate%></td>
        <td>
            <form action="/rental/edit/<%= apartment.id%>" , method="GET">
                <button class="submit btn btn-link">Edit</button>
            </form>
        </td>
    </tr>

    <%if (i <= count) i++;%>
    <% }); %>
</table>